# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock        # libraries should not commit lockfiles

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Coverage
coverage/

# Native iOS / macOS
**/ios/Flutter/.last_build_id
**/ios/Flutter/Pods/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Podfile.lock
**/macos/Pods/
**/macos/Podfile.lock

# Android
**/android/.gradle/
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties

# Web
**/web/.dart_tool/

# Windows
**/windows/flutter/ephemeral/

# Linux
**/linux/flutter/ephemeral/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
